.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  font-weight: bold;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #ADD8E6;
  color: white;
}
.button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}
.menu {
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 10px;
}