.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.form-container,
.login-form,
.register-form,
.addComment-form,
.addSnippet-form
 {  
  padding: auto;
  display: flex;
  flex-direction: column;
  background-color: #3e3e3e;
}

.card {
  border-radius: 10px;
  border: 1px solid whitesmoke;
}

.snippet-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: auto;
}

  .form-container {
    padding: 5rem;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 0.5rem;
  }

@media (min-width: 979px) {
  body{
padding-left: 300px;  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.float {
  border: none;
  position: fixed;
  width: 90px;
  height: 90px;
  bottom: 40px;
  right: 40px;
  background-color: rgb(228, 90, 90);
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  z-index: 1;
}

button {
  margin: 0.5rem;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
  font-weight: bold;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #ADD8E6;
  color: whitesmoke;
}

.button:active {
  background-color: #008CBA;
  box-shadow: 0 5px #808185;
  transform: translateY(4px);
}

.link-btn {
  background: none;
  color: whitesmoke;
  text-decoration: underline;
}

.navbar {
  display: flex;
  text-align: right;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sidenav{
  background-color: whitesmoke;
}

.right{
  margin-right: 20px;
}

body {
  padding-top: 55px;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.input-field textarea{
  background-color: whitesmoke;
  height: 100px;
  width: 100%;
  resize: none;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.input-field input {
  color: whitesmoke;
}

code{
  text-align: left;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  display: block;
}